{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Profil de {{ utilisateur.email }}</h1>
    <div class="row">
        <!-- Mes Commandes -->
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Mes Commandes</h5>
                    <p class="card-text">Consultez l'historique de vos commandes et suivez vos achats actuels.</p>
                    <a href="{{ path('app_mes_commandes') }}" class="btn btn-primary">Voir Commandes</a>
                </div>
            </div>
        </div>
        <!-- Voir Mes Informations -->
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Mes Informations</h5>
                    <p class="card-text">Accédez et modifiez vos informations personnelles.</p>
                    <a href="{{ path('app_detail_profil') }}" class="btn btn-primary">Voir Informations</a>
                </div>
            </div>
        </div>
        <!-- Contacter Mon Conseiller -->
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Contacter Mon Conseiller</h5>
                    <p class="card-text">Besoin d'aide? Contactez votre conseiller personnel directement.</p>
                    <a href="{{ path('send_message_form') }}" class="btn btn-primary">Contacter Conseiller</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
