{% extends 'base.html.twig' %}

{% block body %}
    <h1>Réinitialiser le mot de passe</h1>
    {{ form_start(form) }}
        {{ form_row(form.password) }}
        <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
    {{ form_end(form) }}
{% endblock %}
