{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container mt-4">
<div class="fondetail">
    <div class="jumbotron text-center">
        <h1 class="display-4">Benvenue chez Ventalis</h1>
        <p class="lead">"Révélez Votre Essence avec Nos Parfums Uniques"</p>
        <hr class="my-4">
        <p>Découvrez notre collection exclusive de parfums qui capturent votre essence unique. Cliquez ici pour explorer et trouver votre signature olfactive dès aujourd'hui !</p>
        <a class="btn btn-custom btn-lg" href="{{path('app_produit')}}" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal">COMMANDEZ !!</a>
    </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-4 col ms-6">
            <div class="card">
                <img src="/images/icones/planete-terre.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Feature 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#feature1Modal">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/images/icones/choix.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Feature 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#feature2Modal">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/images/icones/messages.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Feature 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#feature3Modal">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="section1">
        <div class="separation">
            <div class="cotegauche">
                <div class="titreseparation">
                    <h3>Ingrédients naturels</h3>
                </div>
                <div class="texteseparation">
                    <center>
                        <p>Tout nos produits sont réaliser en utilisant des produits 100% car on se soucie de votre sante </p>
                    </center>
                </div>
                <div class="readmoreseparation">
                    <center> <button class="custom-button">
        <span class="black-text">Read</span> 
        <span class="white-text">More</span></button></center>
                </div>

            </div>

            <div class="cotedroite">
            <img src="/images/pexels.jpg" alt="pwer">
        </div></div>
    </div>

 <!-- Carousel -->
    <div id="productCarousel" class="carousel slide mt-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for product in products %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ product.image }}" class="d-block w-100" alt="Slide {{ loop.index }}">
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#productCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Precedent</span>
        </a>
        <a class="carousel-control-next" href="#productCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
        </a>
    </div>

{% endblock %}
