{# templates/payment/success.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Paiement Réussi{% endblock %}

{% block body %}
<h1>Paiement Réussi</h1>
<p>Votre paiement a été traité avec succès. Merci pour votre achat !</p>
{% endblock %}
